.main-container.container.js-quickedit-main-content{
  margin: 0;
  width: 100%;
}

/* header, top bar */
.region.region-header .name.navbar-brand{
  float: none;
}

/* p (text) i top bar */
.region.region-header .navbar-text{
  float: none;
  text-align: center;
  color: white;
  font-size: 3vh;
}

/* Bakgrundsbild i top bar */
.region.region-header {
  background-image: url(/themes/tkonventet2020/images/example.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 15px;
  height: 60vh;
}

.col-sm-12{
  padding: 0px;
}

/* h1 i top bar */
.page-header {
  padding-top: 22vh;
  color: #fff;
  text-align: center;
  font-size: 7vh;
  border-bottom: none;
}

/* Bakgrundsfärg på sidan */
body {
  background-color: #e8e8e8;
}

/* komentarer när inloggad */
.comment-comment-form {
  margin: 0 140px;
}

/* höjd på content */
.main-container.container.js-quickedit-main-content {
  min-height: 70vh;
}

/* Sätter footer till samma bredd som skärm */
.footer.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

/* Bakgrundsbild footer */
.footer {
  border-top: none;
  background-image: url(/themes/tkonventet2020/images/footer-back.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  padding-top: 17vh;
}

/* länkfärg footer */
.region.region-footer a {
  color: white;
}

/* länkfärg footer hover */
.region.region-footer a:hover {
    background-color: #e8e8e8;
    color: #3d3e3d;
}

/* länkfärg */
a{
  color: #42771e;
}

/* länkfärg hover */
a:hover{
  color:  #087433;
}

/* bild blixtlaset*/
.content .align-right {
  position: relative;
  height: auto;
  margin: 30px;
}

contextual-region.page.full.clearfix {
  display: block;
}

h2, .h2 {
  font-size: 38px;
  margin-left: 140px;
}

h3, .h3 {
  margin-left: 140px;
}

p {
  font-size: 16px;
  margin-left: 140px;
  margin-right: 140px;
}

.links.inline.list-inline{
  margin-left: 140px;
  margin-top: 10px;
}

.list-inline > li {
  padding: 0px;
}

/* Logga navbar */
img {
  width: 350px;
  height: 70px;
  position: absolute;
  margin-left: 0px;
  display: block;
}

.nav > li > a {
  margin-top: 30px;
  float: right;
  display: inline-block;
  padding: 14px 15px;
}

.navbar.container{
  min-width: 100%;
  width: 100%;
}

.navbar{
  margin-bottom: 0;
}

.navbar-header{
  width: inherit;
  float: none;
}

.field > ul:nth-child(7) {
  margin-left: 133px;
}

.field > p:nth-child(5) {
  margin-top: 20px;
}

#navbar {
  margin-top: -15px;
  height: 95px;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: inline-block;
}

.menu--account > li:nth-child(1) > a:nth-child(1) {
  padding: 10px 15px;
  margin-right: 10px;
}

#block-tkonventet2020-blixtlaset > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  padding-left: 15px;
  padding-top: 14px;
  float: right;
}

@media (max-width: 600px){
  .footer{
    background-size: auto;
  }
}

@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    text-align: right;
  }
}
