

.main-container.container.js-quickedit-main-content{
  margin: 0;
  width: 100%;
}

.region.region-header .name.navbar-brand{
  float: none;
}

.region.region-header .navbar-text{
  float: none;
  text-align: center;
  color: white;
  font-size: 3vh;
}

.region.region-header {

    background-image: url(/themes/tkonventet2020/images/example.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 15px;
    height: 60vh;
}
.col-sm-12{
  padding: 0px;
}


.page-header {
  padding-top: 22vh;
  color: #fff;
  text-align: center;
  font-size: 7vh;
  border-bottom: none;
}

body {
   background-color: #e8e8e8;
}

.comment-comment-form {
    width: 100%;
    margin: 0 140px;
}

.main-container.container.js-quickedit-main-content {
    min-height: 70vh;
}

.footer.container {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.footer {
  border-top: none;
  background-image: url(/themes/tkonventet2020/images/footer-back.svg);
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
  padding-top: 17vh;
}

.region.region-footer a {
  color: white;
}

.region.region-footer a:hover {
    background-color: #e8e8e8;
    color: #3d3e3d;
}

a{
  color: #42771e;
}

a:hover{
  color:  #087433;
}

.content .align-right {
    position: relative;
    height: auto;
    margin: 30px;
}

contextual-region.page.full.clearfix {
  display: block;
}
/* Element | https://08a68e7c.ngrok.io/ */

.field > h2:nth-child(6) > a:nth-child(1) {
  font-size: 45px;
}

/* bootstrap.css | https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css */

h2, .h2 {
  /* font-size: 30px; */
  font-size: 38px;
}

p {
  font-size: 16px;
}

.field > p:nth-child(24) > a:nth-child(1) {
  margin-left: 5px;
}

.field > p:nth-child(24) > a:nth-child(3) {
  margin-left: 5px;
}

.field > p:nth-child(24) > a:nth-child(4) {
  margin-left: 10px;
}

.field > p:nth-child(24) > a:nth-child(2) {
  margin-left: 5px;
}

.field > p:nth-child(22) > a:nth-child(1) {
  margin-left: 5px;
}

.field > p:nth-child(22) > a:nth-child(2) {
  margin-left: 5px;
  margin-right: 5px;
}

.field > p:nth-child(22) > a:nth-child(3) {
  margin-left: 5px;
  margin-right: 5px;
}

.field > p:nth-child(22) > a:nth-child(4) {
  margin-left: 5px;
}

img {
width: 350px;
height: 70px;
position: absolute;
margin-left: -90px;
}

.nav > li > a {
position: absolute;
float: right;
}

drupal-bootstrap.css
@media screen and (min-width: 1200px) {
.navbar.container {
max-width: 1140px;
width: 100%;
}

}
Inline #24
#navbar {
width: 100%;
max-width: 100%;
margin-top: -13px;
}



/* Element | https://08a68e7c.ngrok.io/ */

.field > h2:nth-child(4) {
  margin-left: 140px;
}

/* style.css | https://08a68e7c.ngrok.io/themes/tkonventet2020/css/style.css?q9hvvl */

p {
  margin-left: 140px;
  margin-right: 140px;
}

h2, .h2 {
  margin-left: 140px;
}

.field > p:nth-child(22) > a:nth-child(1) {
  /* margin-left: 5px; */
  margin-left: 30px;
  font-size: 30px;
}

.field > p:nth-child(22) > a:nth-child(2) {
  /* margin-left: 5px; */
  margin-left: 30px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > ul:nth-child(7) {
  margin-left: 133px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > p:nth-child(5) {
  margin-top: 20px;
}

/* bootstrap.css | https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css */

h3, .h3 {
  margin-left: 140px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > p:nth-child(22) {
  margin-left: 37%;
  font-size: 30px;
  margin-top: 80px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > p:nth-child(23) > a:nth-child(1) {
  font-size: 23px;
  margin-left: 350px;
}



/* Element | https://08a68e7c.ngrok.io/ */

.field > p:nth-child(23) {
  margin-left: 550px;
  font-size: 23px;
  margin-top: 60px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > p:nth-child(23) > a:nth-child(1) {
  padding-left: ;
  margin-left: 10px;
  margin-right: 10px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > p:nth-child(23) > a:nth-child(3) {
  margin-left: 5px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.field > h2:nth-child(22) {
  margin-top: 100px;
  text-align: center;
  margin-left: 0px;
}



/* Element | https://08a68e7c.ngrok.io/ */

#navbar {
  margin-top: -15px;
  height: 95px;
}

/* drupal-bootstrap.css | https://cdn.jsdelivr.net/npm/@unicorn-fail/drupal-bootstrap-styles@0.0.2/dist/3.4.0/8.x-3.x/drupal-bootstrap.css */

@media screen and (min-width: 1200px) {
  .navbar.container {
    /* max-width: 1140px; */
    max-width: 100%;
    width: 100%;
  }
}

/* style.css | https://08a68e7c.ngrok.io/themes/tkonventet2020/css/style.css?q9uspc */

img {
  /* margin-left: -90px; */
  margin-left: 0px;
  display: block;
}

.nav > li > a {
  /* position: absolute; */
  position: relative;
}

/* bootstrap.css | https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css */

.nav > li > a {
  /* display: block; */
  display: inline-block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  /* display: block; */
  display: inline-block;
  padding: ;
}

/* Element | https://08a68e7c.ngrok.io/ */

#block-tkonventet2020-omtkonventet > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  float: right;
  padding: ;
}

/* Element | https://08a68e7c.ngrok.io/ */

#block-tkonventet2020-blixtlaset > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  padding-left: 0px;
  padding-top: 0px;
  margin-top: 0px;
}

/* Element | https://08a68e7c.ngrok.io/ */

.menu--account > li:nth-child(1) > a:nth-child(1) {
  padding: ;
  padding-left: ;
  display: inline-block;
  padding-left: 800px;
  padding-top: 10px;
  margin-top: 23px;
}

https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.css /
@media (min-width: 768px) {
  .navbar-header {
    / float: left; /
    float: none;
  }
}

.nav > li > a {
  / padding: 10px 15px; /
  padding: 14px 15px;
}

@media (min-width: 992px) {
  .container {
    / width: 970px; /
    width: 100%;
  }
}

.navbar {
  / margin-bottom: 20px; /
  margin-bottom: 0px;
}

/ Element | http://08a68e7c.ngrok.io/en /

.menu--account > li:nth-child(1) > a:nth-child(1) {
  / padding-top: 0px; /
  / padding-top: 1px; /
  padding-top: 10px;
  padding-left: 15px;
}

/ Element | http://08a68e7c.ngrok.io/en /

#block-tkonventet2020-blixtlaset > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  padding-top: 10px;
  padding-left: 15px;
}

/ drupal-bootstrap.css | https://cdn.jsdelivr.net/npm/@unicorn-fail/drupal-bootstrap-styles@0.0.2/dist/3.4.0/8.x-3.x/drupal-bootstrap.css /

@media screen and (min-width: 992px) {
  .navbar.container {
    / max-width: 940px; /
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .navbar.container {
    / max-width: 720px; */
    min-width: 100%;
  }
}


@media (min-width: 768px) {
  .navbar-nav > li {
    / float: left; /
    float: right;
    text-align: right;
  }
}

@media (max-width: 600px){
  .footer{
    background-size: auto;
  }
}

@media (min-width: 768px) {
  .container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    text-align: right;
  }
}

@media (min-width: 768px) {
  .navbar-header {
    / float: left; /
  }
}

@media (min-width: 768px) {
  .container {
    / width: 750px; /
    width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    / width: 970px; /
    min-width: 100%;
  }
}

.nav > li > a {
  / padding: 10px 15px; /
  padding: 14px 15px;
}

/ style.css | http://08a68e7c.ngrok.io/themes/tkonventet2020/css/style.css?q9wi4u /

.menu--account > li:nth-child(1) > a:nth-child(1) {
  / padding-left: 800px; /
}

/ drupal-bootstrap.css | https://cdn.jsdelivr.net/npm/@unicorn-fail/drupal-bootstrap-styles@0.0.2/dist/3.4.0/8.x-3.x/drupal-bootstrap.css /

@media screen and (min-width: 768px) {
  .navbar.container {
    / max-width: 720px; /
    max-width: 100%;
  }
}

/ Element | http://08a68e7c.ngrok.io/en/node/2 */

#block-tkonventet2020-blixtlaset > ul:nth-child(2) > li:nth-child(1) > a:nth-child(1) {
  padding-left: 15px;
  padding-top: 14px;
}
